<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Properties>
        <Property name="basePath">todo-logs</Property>
        <Property name="filePatternEnd">%d{yyyy-MM-dd}.log</Property>
        <Property name="logsLayout">%d %-5p %c: %m%n</Property>
    </Properties>

    <Appenders>
        <RollingFile name="debugFile"
                     fileName="${basePath}/debug/todo-debug.log"
                     filePattern="${basePath}/debug/todo-debug.${filePatternEnd}"
                     ignoreExceptions="false">
            <PatternLayout pattern="${logsLayout}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>

        <RollingFile name="infoFile"
                     fileName="${basePath}/info/todo-info.log"
                     filePattern="${basePath}/info/todo-info.${filePatternEnd}"
                     ignoreExceptions="false">
            <PatternLayout pattern="${logsLayout}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>

        <RollingFile name="errorFile"
                     fileName="${basePath}/errors.log"
                     filePattern="${basePath}/errors.${filePatternEnd}"
                     ignoreExceptions="false">
            <PatternLayout pattern="${logsLayout}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="kovalenko.vika">
            <AppenderRef ref="debugFile" level="debug"/>
            <AppenderRef ref="infoFile" level="info"/>
            <AppenderRef ref="errorFile" level="error"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="errorFile"/>
        </Root>
    </Loggers>
</Configuration>
